@model GiftOfTheGiversHub.Models.UserModel


<h2>Register</h2>

<form  asp-action="Register" asp-controller="Account" method="post">
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>

    <div>
        <label asp-for="UserEmail"></label>
        <input asp-for="UserEmail" />
        <span asp-validation-for="UserEmail"></span>
    </div>

    <div>
        <label asp-for="Role"></label>
        <select asp-for="Role">
            <option>Admin</option>
            <option>Donor</option>
            <option>Volunteer</option>
        </select>
        <span asp-validation-for="Role"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit">Register</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
